# Probability Theory

## 1. Introduction

In this project, however, we work to contribute to the development of a mobile app that is meant to help lottery addicts better estimate their chances of winning.

Many people start playing the lottery for fun, but for some this activity turns into a habit which eventually escalates into addiction. Like other compulsive gamblers, lottery addicts soon begin spending from their savings and loans, they start to accumulate debts, and eventually engage in desperate behaviors like theft.

A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities.

For the first version of the app, they want us to focus on the 6/49 lottery and build functions that enable users to answer questions like:

* What is the probability of winning the big prize with a single ticket?
* What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
* What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

The institute also wants us to consider historical data coming from the national 6/49 lottery game in Canada. The data set (https://bit.ly/3dDaWQj) has data for 3,665 drawings, dating from 1982 to 2018.

The scenario we're following throughout this project is fictional — the main purpose is to practice applying the concepts in a setting that simulates a real-world scenario.

## 2. Core Functions

Our goal is to write code that can enable users to answer probability questions about playing the lottery. Throughout the project, we'll need to calculate repeatedly probabilities and combinations. 

We'll start by writing two functions that we'll use often: A function that calculates factorials; and A function that calculates combinations.

To calculate factorials, we'll use:

```
n!=n×(n−1)×(n−2)×...×2×1
```

In the 6/49 lottery, six numbers are drawn from a set of 49 numbers that range from 1 to 49. The drawing is done without replacement, which means once a number is drawn, it's not put back in the set.

To find the number of combinations when we're sampling without replacement and taking only k objects from a group of n objects, we can use the formula. 

```
n! / ((n-k)! * k!)
```

Now let's start coding the two functions.

Factorial function: takes *a number n as input* and computes the factorial of that number n

In [ ]:
def factorial(n):

  n_factorial = 1

  for i in range(n, 0, -1):
    n_factorial *=i

  return n_factorial

print(factorial(3))

6

Combinations function: takes in two inputs (n and k) and outputs the number of combinations when we're taking only k objects from a group of n objects

In [118]:
def combinations(n, k):
  return factorial(n) / (factorial(k) * factorial(n-k))

print(combinations(4, 2))

6.0

## 3. One-ticket Probability

We'll now focus on writing a function that calculates the probability of winning the big prize.

In the 6/49 lottery, six numbers are drawn from a set of 49 numbers that range from 1 to 49. A player wins the big prize if the six numbers on their tickets match all the six numbers drawn. If a player has a ticket with the numbers {13, 22, 24, 27, 42, 44}, he only wins the big prize if the numbers drawn are {13, 22, 24, 27, 42, 44}. If only one number differs, he doesn't win.

For the first version of the app, we want players to be able to calculate the probability of winning the big prize with the various numbers they play on a single ticket (for each ticket a player chooses six numbers out of 49). So, we'll start by building a function that calculates the probability of winning the big prize for any given ticket.

While writing the function, we need to be aware of the following details:

* Inside the app, the user inputs six different numbers from 1 to 49.
* Under the hood, the six numbers will come as a Python list, which will serve as the single input to our function.
* The engineering team wants the function to print the probability value in a friendly way — in a way that people without any probability training are able to understand.

Let's write this function!

Function to calculate the probability of winning the big prize with a single ticket

In [154]:
# takes in a list of six unique numbers and prints the probability of winning
def one_ticket_probability(ticket_numbers):
  
  # calculate total number of possible outcomes
  possible_combinations = combinations(49, 6)

  # calculate the probability of winning
  probability_of_winning = 1 / possible_combinations
  
  print('Probability of winning with ticket {} is {:.2}%'.format(ticket_numbers, probability_of_winning))

In [155]:
one_ticket_probability([13, 22, 24, 27, 42, 44])

Probability of winning with ticket [13, 22, 24, 27, 42, 44] is 7.2e-08%

## 4. Historical Data Check for Canada Lottery

We've written a function that can tell users what is the probability of winning the big prize with a single ticket. For the first version of the app, however, users should also be able to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

Next, we'll focus on exploring the historical data coming from the Canada 6/49 lottery.

The data set contains historical data for 3,665 drawings (each row shows data for a single drawing), dating from 1982 to 2018. For each drawing, we can find the six numbers drawn in the following six columns:

* `NUMBER DRAWN 1`
* `NUMBER DRAWN 2`
* `NUMBER DRAWN 3`
* `NUMBER DRAWN 4`
* `NUMBER DRAWN 5`
* `NUMBER DRAWN 6`

Load Dataset

In [ ]:
import pandas as pd

df = pd.read_csv('/content/649.csv')

Check the shape

In [ ]:
df.shape

(3665, 11)

Preview the first 3 rows

In [ ]:
df.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

Preview the last 3 rows

In [ ]:
df.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

## 5. Function for Historical Data Check

We've focused on opening and exploring the Canada lottery data set. We're now going to write a function that will enable users to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

The engineering team told us that we need to be aware of the following details:

* Inside the app, the user inputs six different numbers from 1 to 49.
* Under the hood, the six numbers will come as a Python list and serve as an input to our function.
* The engineering team wants us to write a function that prints the number of times the combination selected occurred in the Canada data set; and
the probability of winning the big prize in the next drawing with that combination.

We'll now start working on writing this function.

Extract all the winning six numbers from the historical data set as Python sets

In [119]:
# this function takes as input a row of the lottery dataframe and returns a set containing all the six winning numbers
def extract_numbers(row):
  row = row[4:10]
  numbers = set(row.values)
  return numbers

In [120]:
# all winning numbers
winning_numbers = df.apply(extract_numbers, axis=1)
winning_numbers.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

Check whether a certain combination has occurred in the Canada lottery data set and compute the probability of winning

In [131]:
'''
This function takes in two inputs: a Python list containing the user numbers and a pandas Series containing sets with 
the winning numbers (this is the Series you'll extract using the extract_numbers() function)
'''

def check_historical_occurence(user_numbers, winning_numbers):
  # convert the user numbers list to a set
  user_numbers = set(user_numbers)

  # check if the user combination exists in the winning numbers
  matches = user_numbers == winning_numbers
  win_count = matches.sum()

  # get the total possible outcomes
  outcomes = combinations(49,6)

  # compute the probability of winning
  win_probability = (1 / outcomes) * 100

  if win_count == 0:
    print("Combination {} not found in history database. You have a {:.8f}% chance of winning with this combination.".format(user_numbers, win_probability))
  else:
    print("Combination {} found in history database. You have a {:.8f}% chance of winning with this combination.".format(user_numbers, win_probability))

In [132]:
draw_one = {1, 9, 39, 23, 24, 27}

check_historical_occurence (draw_one, winning_numbers)

Combination {1, 23, 39, 24, 9, 27} not found in history database. You have a 0.00000715% chance of winning with this combination.

In [133]:
draw_two = {34, 5, 14, 47, 21, 31}

check_historical_occurence (draw_two, winning_numbers)

Combination {34, 5, 21, 31, 14, 47} found in history database. You have a 0.00000715% chance of winning with this combination.

## 6. Multi-ticket Probability

Lottery addicts usually play more than one ticket on a single drawing, thinking that this might increase their chances of winning significantly. Our purpose is to help them better estimate their chances of winning — we're now going to write a function that will allow the users to calculate the chances of winning for any number of different tickets.

We've talked with the engineering team and they gave us the following information:

* The user will input the number of different tickets they want to play (without inputting the specific combinations they intend to play).
* Our function will see an integer between 1 and 13,983,816 (the maximum number of different tickets).
* The function should print information about the probability of winning the big prize depending on the number of different tickets played.

Let's now start writing this function.

A function that computes the probability of winning the big prize depending on the number of different tickets played

In [137]:

def multi_ticket_probability(n):
  # total number of possible outcomes
  possible_outcomes = combinations(49,6)

  # compute probability of winning given the number of tickets
  prob = (n / possible_outcomes) * 100

  print("Probability of winning: {:8f}%".format(prob))

Testing the function

In [138]:
multi_ticket_probability(100)

Probability of winning: 0.000715%

In [140]:
multi_ticket_probability(6991908)

Probability of winning: 50.000000%

In [139]:
multi_ticket_probability(13983816)

Probability of winning: 100.000000%

## 7. Less Winning Numbers - Function

We're going to write one more function to allow the users to calculate probabilities for two, three, four, or five winning numbers.

For extra context, in most 6/49 lotteries there are smaller prizes if a player's ticket match two, three, four, or five of the six numbers drawn. As a consequence, the users might be interested in knowing the probability of having two, three, four, or five winning numbers.

These are the engineering details we'll need to be aware of:

* Inside the app, the user inputs:
six different numbers from 1 to 49; and
an integer between 2 and 5 that represents the number of winning numbers expected.
* Our function prints information about the probability of having the inputted number of winning numbers.
To help you code this function, we'll guide you through calculating the probability for having exactly five winning numbers. First, we need to differentiate between these two probability questions:

* What is the probability of having exactly five winning numbers?
* What is the probability of having at least five winning numbers?
For our purposes here, we want to answer the first question.

For the sake of example, let's say a player chose these six numbers on a ticket: (1, 2, 3, 4 ,5 ,6). Out of these six numbers, we can form six five-number combinations:
```
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 6)
(1, 2, 3, 5, 6)
(1, 2, 4, 5, 6)
(1, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
```
We can also find the total number of five-number combinations.

For each one of the six five-number combinations above, there are 44 possible successful outcomes in a lottery drawing. For the combination (1, 2, 3, 4, 5), for instance, there are 44 lottery outcomes that would return a prize:
```
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 7)
...
(1, 2, 3, 4, 5, 30)
(1, 2, 3, 4, 5, 31)
...
(1, 2, 3, 4, 5, 49)
```
However, we need to leave out the outcome (1, 2, 3, 4, 5, 6) because we're only interested in outcomes that match exactly five numbers, not at least five numbers. This means that for each of our six five-number combinations we have 43 possible successful outcomes, not 44.

Since there are six five-number combinations and each combination corresponds to 43 successful outcomes, we need to multiply 6 by 43 to find the total number of successful outcomes:
```
6 × 43 = 258
```
Since there are 258 successful outcomes and there are 13,983,816 total possible outcomes, the probability of having exactly five winning numbers for a single lottery ticket is:

```
P (5-winning numbers) = 258 (49 6) = 0.00001845
```

Now let's try to code the function. To calculate the probabilities, we tell the engineering team that the specific combination on the ticket is irrelevant behind the scenes, and we only need the integer between 2 and 5 representing the number of winning numbers expected.

Calculate the probability of having two, three, four or five winning numbers

In [153]:
def probability_less_6(n):
  # compute number of n-number combinations
  combinations_given_n = combinations(6, n)

  # find the total number of successful outcomes
  total_successful_outcomes = combinations_given_n * (49-n-1)

  # find the total number of possible outcomes
  total_possible_outcomes = combinations(49, 6)

  # probability of having n winning numbers
  prob_of_n_winning_numbers = total_successful_outcomes / total_possible_outcomes

  print("{:8f}%".format(prob_of_n_winning_numbers))

Test the function

In [151]:
probability_less_6(5)

0.000018%

In [152]:
probability_less_6(4)

0.000047%

## 8. Next Steps

Possible features for a second version of the app include:

* Making the outputs even easier to understand by adding fun analogies (for example, we can find probabilities for strange events and compare with the chances of winning in lottery; for instance, we can output something along the lines "You are 100 times more likely to be the victim of a shark attack than winning the lottery").
* Combining the `one_ticket_probability()` and `check_historical_occurrence()` to output information on probability and historical occurrence at the same time.
* Creating a function similar to `probability_less_6()` which calculates the probability of having at least two, three, four or five winning numbers. Hint: the number of successful outcomes for having at least four winning numbers is the sum of these three numbers: The number of successful outcomes for having four winning numbers exactly, the number of successful outcomes for having five winning numbers exactly, the number of successful outcomes for having six winning numbers exactly.